div {
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 40px;
    background-color: darkgreen;
    color: white;
}

.mainContainer {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

.box {
    min-width: 270px;
    border: darkgreen solid px;
    padding: 20px;
    height: 120px;
    box-shadow: 0px 0px 5px darkgreen;
    width: 500px;
    margin-top: 30px;
}

.boxTitle {
    text-align: center;
    font-size: 25px;
    color: rgb(7, 57, 184);
    font-weight: bold;
    margin-bottom: 8px;
}

.inputButton {
    text-align: center;
    margin-top: 10px;
}

.inputConvert {
    padding: 10px;
    background-color: darkgreen;
    border: lightblue solid 2px;
    color: lightblue;
    width: 300px;
    font-size: 18px;
    font-weight: bold;
}
.inputConvert::placeholder {
    color: lightblue;
}

.buttonConvert {
    padding: 10px;
    margin-left: -6px;
    background-color: darkgreen;
    color: lightblue;
    border: lightblue solid 2px;
    cursor: pointer;
    font-size: 18px;
}

.boxOutput {
    text-align: center;
    margin-top: 10px;
    color: rgb(7, 57, 184);
    font-weight: bold;
    font-size: 25px;
}
